<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WatchVault Add Product</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="adminAssets/imgs/theme/favicon.svg"> -->
    <!-- Template CSS -->
    <link href="adminAssets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <%- include('./partials/adminAside.ejs') %>
        <main class="main-wrap">
            <%- include('./partials/adminHeader.ejs') %>
                <section class="content-main">
                    <form action="/admin/addProduct" method="post" enctype="multipart/form-data" id="addProductForm">
                        <div class="row">
                            <div class="col-9">
                                <div class="content-header">
                                    <h2 class="content-title">Add New Product</h2>
                                    <div>
                                        <button type="submit"
                                            class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <label for="product_title" class="form-label">Product title</label>
                                            <input type="text" name="productName" placeholder="Type here"
                                                class="form-control" id="product_title">
                                            <div class="text-danger" id="productNameError"></div>
                                        </div>
                                        <div class="mb-4">
                                            <label for="product_brand" class="form-label">Brand</label>
                                            <input type="text" name="brand" placeholder="Type here" class="form-control"
                                                id="product_brand">
                                            <div class="text-danger" id="brandError"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div>
                                            <label class="form-label">Description</label>
                                            <input type="text" name="description" placeholder="Type here"
                                                class="form-control" rows="4" id="description">
                                            <div class="text-danger" id="descriptionError"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div>
                                            <label class="form-label">Images</label>
                                            <input class="form-control" name="images" type="file" multiple
                                                onchange="validateAndPreviewImages(event)">
                                            <div id="image-preview-container" style="margin-top: 10px;"></div>
                                            <div class="text-danger" id="imagesError"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <label class="form-label">Price</label>
                                            <input type="number" name="price" placeholder="Type here"
                                                class="form-control" id="price">
                                            <div class="text-danger" id="priceError"></div>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Stock</label>
                                            <input type="number" name="stock" placeholder="Type here"
                                                class="form-control" id="stock">
                                            <div class="text-danger" id="stockError"></div>
                                        </div>
                                        <hr>
                                        <label class="form-label">Categories</label>
                                        <select class="form-check" name="category" id="category">
                                            <% for(let i=0; i < categories.length; i++) { %>
                                                <option value="<%= categories[i]._id %>">
                                                    <%= categories[i].categoryName %>
                                                </option>
                                                <% } %>
                                        </select>
                                        <div class="text-danger" id="categoryError"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
                <footer class="main-footer font-xs">

                </footer>
        </main>

        <script>
            document.getElementById('addProductForm').addEventListener('submit', function (event) {
                let isValid = true;

                // Clear previous error messages
                const errorElements = document.querySelectorAll('.text-danger');
                errorElements.forEach(element => {
                    element.textContent = '';
                });

                // Function to remove error messages after 5 seconds
                function removeErrorMessages() {
                    setTimeout(() => {
                        errorElements.forEach(element => {
                            element.textContent = '';
                        });
                    }, 5000);
                }

                // Validate product title
                const productName = document.getElementById('product_title');
                if (productName.value.trim() === "") {
                    isValid = false;
                    document.getElementById('productNameError').textContent = 'Product title cannot be empty.';
                } else if (productName.value.trim().length < 3) {
                    isValid = false;
                    document.getElementById('productNameError').textContent = 'Product title must be at least 3 characters long.';
                }

                // Validate brand
                const brand = document.getElementById('product_brand');
                if (brand.value.trim() === "") {
                    isValid = false;
                    document.getElementById('brandError').textContent = 'Brand cannot be empty.';
                }

                // Validate description
                const description = document.getElementById('description');
                if (description.value.trim() === "") {
                    isValid = false;
                    document.getElementById('descriptionError').textContent = 'Description cannot be empty.';
                } else if (description.value.trim().length < 10) {
                    isValid = false;
                    document.getElementById('descriptionError').textContent = 'Description must be at least 10 characters long.';
                }

                // Validate images
                const images = document.querySelector('input[name="images"]');
                const files = images.files;
                const extnAllowed = /(\.jpg|\.jpeg|\.png|\.webp)$/i;
                if (files.length === 0) {
                    isValid = false;
                    document.getElementById('imagesError').textContent = 'At least one image must be uploaded.';
                } else {
                    for (let i = 0; i < files.length; i++) {
                        const file = files[i];
                        if (!extnAllowed.test(file.name)) {
                            isValid = false;
                            document.getElementById('imagesError').textContent = 'Please select JPG, JPEG, PNG, WEBP image files only.';
                            break;
                        }
                    }
                }

                // Validate price
                const price = document.getElementById('price');
                if (price.value.trim() === "") {
                    isValid = false;
                    document.getElementById('priceError').textContent = 'Price cannot be empty.';
                } else if (isNaN(price.value) || price.value <= 0) {
                    isValid = false;
                    document.getElementById('priceError').textContent = 'Price must be a positive number.';
                }

                // Validate stock
                const stock = document.getElementById('stock');
                if (stock.value.trim() === "") {
                    isValid = false;
                    document.getElementById('stockError').textContent = 'Stock cannot be empty.';
                } else if (isNaN(stock.value) || stock.value < 0) {
                    isValid = false;
                    document.getElementById('stockError').textContent = 'Stock must be a non-negative number.';
                }

                // Validate category
                const category = document.getElementById('category');
                if (category.value.trim() === "") {
                    isValid = false;
                    document.getElementById('categoryError').textContent = 'Category must be selected.';
                }

                if (!isValid) {
                    event.preventDefault(); // Prevent form submission if validation fails
                    removeErrorMessages(); // Remove error messages after 5 seconds
                }
            });
        </script>

        <script>
            function imageValidation(files) {
                const extnAllowed = /(\.jpg|\.jpeg|\.png|\.webp)$/i;
                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    if (!extnAllowed.test(file.name)) {
                        toastr.error('Please select JPG, JPEG, PNG, WEBP image files only');
                        return false;
                    }
                }
                return true;
            }

            function previewImages(files) {
                const previewContainer = document.getElementById('image-preview-container');
                previewContainer.innerHTML = '';

                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    if (file.type.match('image.*')) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            const img = document.createElement('img');
                            img.src = e.target.result;
                            img.style.maxWidth = '150px';
                            img.style.marginRight = '10px';
                            img.style.marginBottom = '10px';
                            previewContainer.appendChild(img);
                        }
                        reader.readAsDataURL(file);
                    }
                }
            }

            function validateAndPreviewImages(event) {
                const files = event.target.files;
                if (imageValidation(files)) {
                    previewImages(files);
                } else {
                    event.target.value = ''; // Clear the input if invalid files are selected
                }
            }
        </script>
        <script src="adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="adminAssets/js/vendors/select2.min.js"></script>
        <script src="adminAssets/js/vendors/perfect-scrollbar.js"></script>
        <script src="adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="adminAssets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

</html>